<!DOCTYPE html>
<meta charset="utf-8">
<style>

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}


</style>
<!--<svg width="460" height="200"></svg>-->
<svg width="1400" height="460"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

//var data = d3.range(1000).map(d3.randomBates(10));

var formatCount = d3.format(",.0f");

var svg = d3.select("svg"),
    margin = {top: 10, right: 30, bottom: 30, left: 1000},
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom,
    g = svg.append("g").attr("transform", "translate(" + 900 + "," + margin.top + ")");

//var x = d3.scaleLinear()
//    .rangeRound([0, width]);
var y = d3.scaleLinear()
    .rangeRound([0, height]);

d3.csv("static/all_perc.csv", type, function(error, data) {
  //x.domain([0, d3.max(data, function(d) { return d.perc; })]);
  //y.domain([0, d3.max(data, function(d) { return d.perc; })]);
  y.domain([0,100])

  var data = data.map(function(d) {return [+d.pov_08, +d.pov_09, +d.pov_10, +d.pov_11, +d.pov_12, 
                      +d.pov_13, +d.pov_14]; })

/*var bins = d3.histogram()
    .domain(x.domain())
    .thresholds(x.ticks(20))
    (data.map(
            function(d) {return d.perc;}
            )
    );*/
var bins = d3.histogram()
    .domain(y.domain())
    .thresholds(y.ticks(20))
    (data.map(
            function(d) {return d[6];}
            )
    );


/*var y = d3.scaleLinear()
    .domain([0, d3.max(bins, function(d) { return d.length; })])
    .range([height, 0]);*/
var x = d3.scaleLinear()
    .domain([0, d3.max(bins, function(d) { return d.length; })])
    .range([0,width]);

var bar = g.selectAll(".bar")
  .data(bins)
  .enter().append("g")
    .attr("class", "bar")
    //.attr("transform", function(d) { return "translate(" + x(d.x0) + "," + y(d.length) + ")"; });
    .attr("transform", function(d) { return "translate(" + 0 + "," + y(d.x0) + ")"; });

bar.append("rect")
    //.attr("x", 1)
    //.attr("width", x(bins[0].x1) - x(bins[0].x0) - 1)
    //.attr("height", function(d) { return height - y(d.length); });
    .attr("y", 1)
    .attr("height", y(bins[0].x1) - y(bins[0].x0) - 1)
    .attr("width", function(d) { return x(d.length); });

/*bar.append("text")
    .attr("dy", ".75em")
    .attr("y", 6)
    .attr("x", (x(bins[0].x1) - x(bins[0].x0)) / 2)
    .attr("text-anchor", "middle")
    .text(function(d) { return formatCount(d.length); });
*/
/*g.append("g")
    .attr("class", "axis axis--x")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x));
});*/
g.append("g")
    .attr("class", "axis axis--y")
    .attr("transform", "translate(0,0)")
    .call(d3.axisRight(y));
});

function type(d) {
  d.perc = +d.perc; // coerce to number
  return d;
}

</script>
